<ion-header>
  <ion-toolbar>
    <ion-title class="titulo-admin ion-text-center">Modificar contraseña</ion-title>
    <ion-button color="warning" slot="end" routerLink="/login">
      <ion-icon name="log-in-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class=" ion-text-center">
  <div class="fondo">

    <ion-card>
      <ion-item lines="none" class="ion-text-center ">
        <ion-label> <h1> {{ usuario.correo }}</h1> </ion-label>
      </ion-item>
      <ion-item>
        <ion-label  class="pass-label" position="floating">ingrese nueva contraseña:</ion-label>
        <ion-input type="password" [(ngModel)]="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label  class="pass-label" position="floating">ingrese contraseña nuevamente:</ion-label>
        <ion-input type="password" [(ngModel)]="verificar_password"></ion-input>
      </ion-item>
      <ion-button color="warning" shape="round" expand="block"  (click)="cambiar()">cambiar</ion-button>
      <ion-button color="dark" shape="round" expand="block" routerLink="/login" >cancelar</ion-button>
    </ion-card>

  </div>
</ion-content>