<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button slot="end" routerLink="/login">CERRAR SESION</ion-button>
    </ion-buttons>
    <ion-title class="">Docente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div  class="fondo-alumno">
    <ion-card>
      <img src="../../../assets/imagen/2560px-Logo_DuocUC.svg.png" alt="" width="500px">
      <img src="../../../assets/imagen/profesor.png" alt="" width="200">

      <ion-button color="warning"  size="xl" class="boton">
        GENERAR CODIGO QR
      </ion-button>

    </ion-card>
  </div>
</ion-content>